body{
  background-color: rgba(55, 197, 217, 0.07)
}

.navbar{
  background-color: rgb(55, 197, 217)
}

#logo-container{
  color: rgb(255, 36, 108);
}

.navbar-rmv-hover:hover{
  background-color: rgb(55, 197, 217)
}

.card-panel{
  background-color: rgba(55, 197, 217, 0.14)
}

.card-content{
  background-color:rgba(55, 197, 217, 0.07);
  border: 1px solid rgb(55, 197, 217)
}

.card-content:hover{
  background-color: rgba(117, 202, 214, 0.26);
}

.card-content:active{
  background-color: rgba(117, 202, 214, 0.42);
}

.title-question{
  color: rgb(255, 36, 108);
}

.question-preview{
  color: rgb(255, 36, 108);
}

.answers{
  font-size: 20px;
  padding: 20px;
}
